* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: "Concert One", sans-serif;
    padding: 15px 0;
    background-color: #56C9DB;
}

.cabeçalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titulo {
    font-size: 45px;
    font-weight: bolder;
    text-decoration: none;
    color: aliceblue;
}

header input {
    width: 500px;
    font-family: "Concert One", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    border-color: #AF98E6;
    border-style: double;
    margin-top: 25px;
}

header input:focus {
    outline-color: #e273a7;
}

header button{
    background-color: #AF98E6;
    color: aliceblue;
    border: none;
    font-family: "Concert One", sans-serif;
    font-size: 16px;
    cursor: pointer;
    width: 65px;
}

header button:hover {
    background-color: #e273a7;
}

header a img {
    height: 25px;
    margin-top: 20px;
}

.setores ul {
    text-align: center;
    margin-top: 15px;
}
.setores li {
    display: inline;
    margin: 0 50px;
}

.setores a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: azure;
    color: grey;
}

section > img{
    width: 1850px;
}

.enunciado {
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;
}

.enunciado h2 {
    font-family: "Concert One", sans-serif;
    font-size: 40px;
    color: #76C5A5;
}

.ofertas{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 30px;
}

.ofertas img {
    height: 190px;
}

.ofertas button {
    background-color: #AF98E6;
    color: aliceblue;
    border: none;
    font-family: "Concert One", sans-serif;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
}

.pesquisa {
    text-align: center;
    margin: 30px 500px;
    background-color: aliceblue;
}

.pesquisa h2 {
    font-family: "Concert One", sans-serif;
    color: #f1db5b;
    font-size: 35px;
    font-weight: lighter;
}

.pesquisa p{
    margin-bottom: 15px;
}

form {
    display: inline-grid;
}

form input,
form textarea,
form button {
    width: 320px;
    margin-bottom: 7px;
    padding: 7px;
    border-color: #AF98E6;
    border-style: double;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
}

form textarea {
    resize: none;
    height: 180px;
}

input:focus, textarea:focus {
    outline-color: #e273a7;
}

Form button {
    background-color: #AF98E6;
    color: aliceblue;
    font-family: "Concert One", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #e273a7;
}

footer {
    background-color: #56C9DB;
    color: aliceblue;
    padding: 15px 0;
    text-align: center;
}